hr {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}


input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;

  @include box-sizing(border-box);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

label {
  cursor: pointer;
}


*:focus {
  outline: none;
}

html,
body,
* {
  -webkit-appearance: none;
  -moz-appearance: none;

  text-rendering: optimizeLegibility;
  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

@-webkit-viewport { width: device-width }
@-moz-viewport    { width: device-width }
@-ms-viewport     { width: device-width }
@-o-viewport      { width: device-width }
@viewport         { width: device-width }

.clearfix {
  @include clearfix();
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  font-size: 0;
  line-height: 0;
  display: block;
  float: none;
  clear: both;
}


.pointer {
  cursor: pointer;
}


.hidden {
  display: none !important;
  visibility: hidden;
}

.span0 {
  display: none !important;
  visibility: hidden;
}