.icon {
  display: block;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  
  &.centered {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
  }

  &.aligned-right {
    left: auto;
    right: 0;
  }

  &.aligned-left {
    left: 0;
    right: auto;
  }
}

.icon {
  @include retina-sprite(icon);
}