.icon {
  display: block;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important; }

.icon .icon {
  background-image: url('../images/icon-s89b1f1a396.png');
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-indent: -9999px; }
.icon .icon-blank {
  background-position: 0 0;
  width: 1px;
  height: 1px; }
  .icon .icon-blank.centered {
    margin-left: -0.5px;
    margin-top: -1px; }
@media (min-resolution: 2dppx), (min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2) {
  .icon .icon-blank {
    background-position: center center;
    background-image: url('../images/icon@2x/blank.png?1357905007');
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto; } }
