html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

hr {
  outline: none;
  border: none;
  padding: 0;
  margin: 0; }

textarea {
  resize: vertical; }

input,
textarea,
select,
button {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

label {
  cursor: pointer; }

*:focus {
  outline: none; }

html,
body,
* {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-clear {
  font-size: 0;
  line-height: 0;
  display: block;
  float: none;
  clear: both; }

.pointer {
  cursor: pointer; }

.hidden {
  display: none !important;
  visibility: hidden; }

.span0 {
  display: none !important;
  visibility: hidden; }

body,
input,
textarea,
select,
button {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 12px; }

::-moz-selection {
  background: #333333;
  text-shadow: none; }

::selection {
  background: #333333;
  text-shadow: none; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

h1 {
  font-size: 32px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold; }

p {
  line-height: 1.2em; }

p + p {
  margin-top: 1em; }

strong,
b,
.strong,
.bold {
  font-weight: 800; }

em,
i,
.emphasised,
.italic {
  font-style: italic; }

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #666666; }

small {
  font-size: 0.75em; }
